body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}
body, html {
  height: 100%;
  margin: 0;
}

.moreinfo {
  margin-top: 20px;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("assets/hero.jpeg");
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  font-size: 50px;
  margin-left: 25px;
  color: white;
}

.header {
  position: fixed;
  width: 100%;
  opacity: 0.7;
}

.footer {
  font-size: 10px;
  height: 100px;
  align-items: flex-end;
  display: flex;
}

.parallax {
  /* The image used */
  background-image: url("assets/bookshelf.jpg");

  /* Set a specific height */
  height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.buy-item {
  border-style: solid;
  border-width: 1px;
  padding: 22px;
  border-radius: 20px;
  margin-top: 5px;
}

.buy-item-name {
  width: fit-content;
}

.buy-item-other {
  width: fit-content;

}